

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: black;
    padding-bottom: 1rem ;
    padding-top: 0.7rem;
    position: fixed;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: 3;
}

.navbar ul{
    display: flex;
    list-style: none;
    justify-content: space-around;
    /* background-color: red; */
    /* max-width: 60%; */
    margin-left: 3rem;
}
.navbar ul li a{
    margin-left: 15rem;
    text-decoration: none;
    color: white;
    font-size: 1.3rem;
}

.logo{
    display: flex;
    align-items: center;
}

.logo>a{
    text-decoration: none;
    color: white;
    
}

@media  screen and (max-width: 600px) {
    .logo h1{
        font-size: 20px;
    }  
    .navbar{
        display: flex;
        justify-content: space-evenly;
        margin: 0;
        padding: 0;
        height: 4rem;
    }
    .navbar ul li a{
        margin-left: 10px;
        /* padding: 0; */
        font-size: 18px;
    }
    

}